body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
}

.clock-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#clock {
    /* min-height: 5em; */
    color: #ffffff;
    opacity: .85;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-family: 'VT323';
    font-size: 4em;
    /* text-align: center; */
}